# 範例 : 計程車費率預測
https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

# [作業目標]
- 試著模仿範例寫法, 使用程車費率預測競賽練習時間欄位處理

# [作業重點]
- 新增星期幾(day of week)與第幾周(week of year)這兩項特徵, 觀察有什麼影響 (In[4], Out[4], In[5], Out[5])
- 新增加上年週期與周周期特徵 , 觀察有什麼影響 (In[8], Out[8], In[9], Out[9])

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 做完特徵工程前的所有準備
import pandas as pd
import numpy as np
import datetime
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor

data_path = 'data/'
df = pd.read_csv(data_path + 'taxi_data1.csv')

train_Y = df['fare_amount']
df = df.drop(['fare_amount'] , axis=1)
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2011-10-21 23:54:10 UTC,-73.990580,40.761071,-73.981128,40.758634,2
1,2015-02-03 10:42:03 UTC,-73.988403,40.723431,-73.989647,40.741695,1
2,2014-03-16 18:58:58 UTC,-74.015785,40.715110,-74.012029,40.707888,2
3,2009-06-13 16:10:54 UTC,-73.977322,40.787275,-73.958030,40.778838,3
4,2014-06-12 03:25:56 UTC,-73.989683,40.729717,-73.982490,40.761887,3

In [3]:
# 時間特徵分解方式:使用datetime
df['pickup_datetime'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S UTC'))
df['pickup_year'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
df['pickup_month'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
df['pickup_day'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')
df['pickup_hour'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%H')).astype('int64')
df['pickup_minute'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%M')).astype('int64')
df['pickup_second'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%S')).astype('int64')
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56

In [4]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
scaler = MinMaxScaler()
train_X = scaler.fit_transform(df_temp)
Linear = LinearRegression()
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
GDBT = GradientBoostingRegressor()
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.026876871475640864
Gradient Boosting Reg Score : 0.7121441789618908

# 作業1
* 對照範例，試著加入星期幾 (day of week) 與第幾周 (week of year) 這兩項特徵，  
看看結果會比原本只有時間特徵分解的結果更好或更差?

In [5]:
# 加入星期幾與第幾周兩個特徵
df['pickup_day_of_week'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%w')).astype('int64')
df['pickup_day_of_year'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%W')).astype('int64')
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,pickup_day_of_week,pickup_day_of_year
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10,5,42
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3,2,5
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58,0,10
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54,6,23
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56,4,23

In [6]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.028649006962517265
Gradient Boosting Reg Score : 0.7114202496535689

In [7]:
# 加上"日週期"特徵 (參考講義"週期循環特徵")
import math
df['day_cycle'] = df['pickup_hour']/12 + df['pickup_minute']/720 + df['pickup_second']/43200
df['day_cycle'] = df['day_cycle'].map(lambda x:math.sin(x*math.pi))
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,pickup_day_of_week,pickup_day_of_year,day_cycle
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10,5,42,-0.025450
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3,2,5,0.333601
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58,0,10,-0.967083
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54,6,23,-0.888817
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56,4,23,0.782427

In [8]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.028274009668816637
Gradient Boosting Reg Score : 0.7147695946416549

# 作業2
* 對照範例的日週期效果，試著參考投影片完成年週期與周週期的特徵 (也可以用你自己想到的方式)，  
看看結果會比範例中的結果更好或更差?

In [9]:
# 加上"年週期"與"周週期"特徵
import math
df['year_cycle'] = df['pickup_month']/6 + df["pickup_day"]/180
df['year_cycle'] = df['year_cycle'].map(lambda x:math.cos(x*math.pi))
df['week_cycle'] = df['pickup_day_of_week']/3.5 + df["pickup_hour"]/84
df['week_cycle'] = df['week_cycle'].map(lambda x:math.sin(x*math.pi))
df.head(1000)

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,pickup_day_of_week,pickup_day_of_year,day_cycle,year_cycle,week_cycle
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10,5,42,-0.025450,0.777146,-8.045978e-01
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3,2,5,0.333601,0.453990,8.262388e-01
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58,0,10,-0.967083,-0.275637,6.234898e-01
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54,6,23,-0.888817,-0.974370,-2.947552e-01
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56,4,23,0.782427,-0.978148,-5.320321e-01
5,2011-07-16 01:19:59,-73.997631,40.721805,-74.009757,40.709941,1,2011,7,16,1,19,59,6,28,0.341952,-0.694658,-7.579717e-01
6,2009-06-27 18:15:00,-73.954743,40.789303,-73.964755,40.773345,1,2009,6,27,18,15,0,6,25,-0.997859,-0.891007,-2.225209e-01
7,2009-01-23 20:38:16,-73.982279,40.764668,-73.990323,40.756427,1,2009,1,23,20,38,16,5,3,-0.770884,0.601815,-8.660254e-01
8,2010-08-09 14:46:03,-73.965039,40.769972,-73.955365,40.779438,1,2010,8,9,14,46,3,1,32,-0.662783,-0.358368,9.888308e-01
9,2011-09-29 21:56:45,-73.986570,40.734727,-74.003757,40.741951,1,2011,9,29,21,56,45,4,39,-0.512230,0.484810,-9.438833e-01
10,2009-02-09 22:26:00,-73.953742,40.774040,-73.969870,40.785605,1,2009,2,9,22,26,0,1,6,-0.398749,0.358368,9.888308e-01
11,2010-11-03 21:07:00,-73.982057,40.768790,-73.949467,40.830230,1,2010,11,3,21,7,0,3,44,-0.685183,0.891007,-3.302791e-01
12,2009-11-23 05:18:00,-73.983368,40.727033,-73.953655,40.666835,4,2009,11,23,5,18,0,1,47,0.983255,0.992546,8.841154e-01
13,2012-04-02 21:08:02,-74.005307,40.728124,-73.979042,40.741986,1,2012,4,2,21,8,2,1,14,-0.681892,-0.529919,9.937122e-01
14,2009-12-14 20:28:45,-73.970473,40.783983,-73.967860,40.762692,1,2009,12,14,20,28,45,1,50,-0.796662,0.970296,9.972038e-01
15,2014-03-30 01:52:38,-73.951788,40.714289,-73.952272,40.694019,2,2014,3,30,1,52,38,0,12,0.471910,-0.500000,3.739119e-02
16,2009-07-01 03:24:53,-73.999353,40.761494,-73.953128,40.768081,1,2009,7,1,3,24,53,3,26,0.779566,-0.857167,3.302791e-01
17,2013-08-01 01:00:25,-74.001532,40.730875,-73.978048,40.764719,1,2013,8,1,1,0,25,4,30,0.260575,-0.484810,-4.672686e-01
18,2012-03-17 10:39:05,-73.966994,40.757627,-73.967327,40.766001,1,2012,3,17,10,39,5,6,11,0.345776,-0.292372,-5.000000e-01
19,2013-11-01 20:41:00,-73.967032,40.803832,-73.973962,40.754712,2,2013,11,1,20,41,0,5,43,-0.763232,0.874620,-8.660254e-01
20,2014-04-21 17:48:35,-73.988503,40.731349,-73.979510,40.748828,1,2014,4,21,17,48,35,1,16,-0.998760,-0.777146,9.993007e-01
21,2012-01-07 17:53:00,-73.958500,40.810140,-73.978187,40.778183,4,2012,1,7,17,53,0,6,1,-0.999534,0.798636,-2.588190e-01
22,2011-06-16 15:06:00,-73.966323,40.761512,-73.957015,40.768288,1,2011,6,16,15,6,0,4,24,-0.725374,-0.961262,-8.467242e-01
23,2011-03-05 20:25:00,-73.989962,40.767048,-73.950755,40.776633,1,2011,3,5,20,25,0,6,9,-0.806445,-0.087156,-1.490423e-01
24,2012-10-08 09:09:39,-73.958430,40.781613,-73.985932,40.770163,1,2012,10,8,9,9,39,1,41,0.676715,0.615661,9.438833e-01
25,2014-05-21 18:46:00,-73.979752,40.766000,-73.985705,40.756777,1,2014,5,21,18,46,0,3,20,-0.979925,-0.987688,-2.225209e-01
26,2014-02-11 21:21:00,-73.994117,40.759050,-73.942337,40.847027,1,2014,2,11,21,21,0,2,6,-0.639439,0.325568,5.320321e-01
27,2011-07-09 23:12:00,-73.980308,40.780442,-73.972903,40.795217,5,2011,7,9,23,12,0,6,27,-0.207912,-0.777146,-3.739119e-02
28,2011-12-14 12:03:14,-73.980436,40.770263,-73.953017,40.783132,1,2011,12,14,12,3,14,3,50,-0.014108,0.970296,1.224647e-16
29,2012-02-12 12:09:15,-73.951540,40.769698,-73.966601,40.753667,1,2012,2,12,12,9,15,0,6,-0.040350,0.309017,4.338837e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,2011-06-03 18:43:00,-73.991485,40.731745,-73.984917,40.721755,1,2011,6,3,18,43,0,5,22,-0.982450,-0.998630,-9.009689e-01
971,2011-01-14 07:54:00,-73.982610,40.762658,-73.982278,40.784952,1,2011,1,14,7,54,0,5,2,0.878817,0.719340,-9.993007e-01
972,2013-01-03 22:50:20,-73.952671,40.780529,-73.948887,40.808109,2,2013,1,3,22,50,20,4,0,-0.299318,0.838671,-9.555728e-01
973,2012-12-20 22:59:00,-73.987525,40.760102,-73.981065,40.741432,1,2012,12,20,22,59,0,4,51,-0.263031,0.939693,-9.555728e-01
974,2012-03-10 15:44:42,-73.988043,40.723132,-73.979210,40.736132,1,2012,3,10,15,44,42,6,10,-0.830742,-0.173648,-3.302791e-01
975,2015-01-16 23:21:47,0.000000,0.000000,0.000000,0.000000,2,2015,1,16,23,21,47,5,2,-0.165980,0.694658,-8.045978e-01
976,2012-01-25 22:34:00,0.000000,0.000000,0.000000,0.000000,1,2012,1,25,22,34,0,3,4,-0.366501,0.573576,-3.653410e-01
977,2009-03-30 00:38:00,-73.999855,40.728562,-74.009622,40.733207,3,2009,3,30,0,38,0,1,13,0.165048,-0.500000,7.818315e-01
978,2015-05-13 09:16:56,-73.992477,40.742828,-73.986580,40.742950,1,2015,5,13,9,16,56,3,19,0.652980,-0.956305,1.119645e-01
979,2011-05-15 12:26:00,-73.980740,40.756592,-74.002685,40.760643,1,2011,5,15,12,26,0,0,19,-0.113203,-0.965926,4.338837e-01
980,2012-07-31 11:12:00,-73.959208,40.711567,-73.961188,40.710550,1,2012,7,31,11,12,0,2,31,0.207912,-0.484810,8.045978e-01
981,2014-04-06 01:44:30,-73.984209,40.751828,-73.982539,40.727977,1,2014,4,6,1,44,30,0,13,0.440331,-0.587785,3.739119e-02
982,2015-03-29 01:41:19,-74.004654,40.742054,-74.008080,40.739002,3,2015,3,29,1,41,19,0,12,0.427818,-0.484810,3.739119e-02
983,2011-11-02 11:02:38,-73.982304,40.767899,-73.980299,40.753154,1,2011,11,2,11,2,38,3,44,0.247704,0.882948,3.739119e-02
984,2012-11-17 13:44:00,-74.004205,40.747557,-73.995585,40.743977,1,2012,11,17,13,44,0,6,46,-0.438371,0.974370,-3.998920e-01
985,2010-01-04 09:43:00,-73.973190,40.755315,-73.980572,40.746905,1,2010,1,4,9,43,0,1,1,0.562805,0.829038,9.438833e-01
986,2014-07-09 11:06:00,-73.990845,40.750642,-73.995060,40.745010,1,2014,7,9,11,6,0,3,27,0.233445,-0.777146,3.739119e-02
987,2014-06-12 12:15:09,-73.961223,40.761117,-73.968048,40.763732,1,2014,6,12,12,15,9,4,23,-0.066056,-0.978148,-7.818315e-01
988,2012-11-18 20:50:22,-73.981706,40.763447,-73.996140,40.742727,1,2012,11,18,20,50,22,0,46,-0.736196,0.978148,6.801727e-01
989,2014-09-30 15:48:38,-73.991891,40.729550,-74.007113,40.742665,1,2014,9,30,15,48,38,2,39,-0.840172,0.500000,7.071068e-01
990,2013-07-11 16:54:00,-73.969837,40.749032,-73.955410,40.768492,2,2013,7,11,16,54,0,4,27,-0.958820,-0.754710,-8.660254e-01
991,2015-02-19 08:10:33,-73.983673,40.721546,-73.999512,40.754860,1,2015,2,19,8,10,33,4,7,0.842100,0.190809,-6.801727e-01
992,2013-01-15 13:24:00,-73.992545,40.748697,-73.997107,40.725420,1,2013,1,15,13,24,0,2,2,-0.358368,0.707107,7.579717e-01
993,2011-05-14 04:34:00,-73.968555,40.759098,-73.968512,40.764793,5,2011,5,14,4,34,0,6,19,0.930418,-0.961262,-6.801727e-01
994,2011-01-10 17:49:00,-73.967740,40.763165,-73.976857,40.758955,2,2011,1,10,17,49,0,1,2,-0.998848,0.766044,9.993007e-01
995,2013-01-15 11:19:00,-73.983963,40.743488,-73.967910,40.761653,4,2013,1,15,11,19,0,2,2,0.177944,0.707107,8.045978e-01
996,2013-07-22 15:45:45,-73.990745,40.742366,-73.967313,40.755982,1,2013,7,22,15,45,45,1,29,-0.833283,-0.615661,9.937122e-01
997,2012-10-17 01:02:00,-73.975875,40.756500,-73.985688,40.761607,1,2012,10,17,1,2,0,3,42,0.267238,0.731354,3.998920e-01
998,2009-10-11 22:37:24,-73.990037,40.757096,-74.001127,40.746998,1,2009,10,11,22,37,24,0,40,-0.352658,0.656059,7.330519e-01
999,2009-05-23 20:41:50,-73.970700,40.752127,-74.000152,40.721368,2,2009,5,23,20,41,50,6,20,-0.760878,-0.992546,-1.490423e-01

In [10]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.028326599866692927
Gradient Boosting Reg Score : 0.7127755723967919